body{
    background-color: #788ef5;
    
}
/* header top span  */
span {
    font-size: 16px;
    line-height: 40px;
    color: #fff;
}
span.left_head {
    margin-left: 100px;
}
span.right_head1 {
    margin-right: 20px;
}
/* heading tag  */
h1 {
    font-size: 3.5rem;
    color: #fff;
    font-weight: 100;
}
h4 {
    margin-left: 100px;
    font-size: 26px;
    line-height: 36px;
    padding: 20px 0px;
}
p {
    color: #fff;
}
/* navbar ul  */
ul.navbar.nav {
    padding: 20px 0px;
    font-size: 14px;
    margin-right: 150px;
    line-height: 36px;
}
/* navbar a tag  */
a {
    text-decoration: none;
    text-transform: uppercase;
    color: #000;
}

/* header bottom  */
.row.header_bottom {
    background: #fff;
}
/* main sec left  */
.row.main_sec {
    margin-top: 6%;
}
.wrapper {
    margin-left: 100px;
}
/* button  */
a.btn.btn_service {
    background: #fff;
    font-size: 14px;
    font-weight: 600;
    padding: 12px 50px;
    margin-top: 20px;
    letter-spacing: 1px;

}
a.btn.btn_service:hover {
    background: #fff;
    color: #000;

}

/* main sec img  */
img.cover_img {
    margin-top: 4%;
    height: 298px;
    width: 490px;
    box-shadow: 7px 5px 23px
    rgba(0, 0,0, 0.5);
}